.krk2up3b_com h3 {
  margin: 40px 0 0;
}
.krk2up3b_com ul {
  list-style-type: none;
  padding: 0;
}
.krk2up3b_com li {
  display: inline-block;
  margin: 0 10px;
}
.krk2up3b_com a {
  color: #42b983;
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

