.kw0h39r8 {
  font-size: 0.48rem;
  margin: 0;
  padding: 0.33333rem 0;
  font-family: cursive;
}
.kw0hjnhc {
  background: #fff;
}
.kw0hjnhc.van-sticky--fixed {
  box-shadow: 0 0.02667rem 0.16rem 0 rgba(0, 0, 0, 0.1);
}
.kw0i22hw {
  position: absolute;
  font-size: 0.48rem;
  right: 0.4rem;
  top: 50%;
  transform: translate(0, -50%);
}

