.kvdhlhtr {
  border-collapse: collapse;
}
.kvdhlhtr th {
  background: #26a9a2;
}
.kvdhlhtr th,
.kvdhlhtr td {
  border: 0.001rem solid #000;
  padding: 0.01rem;
}
.kvdhlhtr input[type="radio"],
.kvdhlhtr input[type="checkbox"] {
  width: 0.03rem;
  height: 0.03rem;
}

