.df {
  display: flex;
}
.dif {
  display: inline-flex;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.flg {
  flex-grow: 1;
}
.fls {
  flex-shrink: 0;
}
.fdc {
  flex-direction: column;
}
.mw100 {
  max-width: 100%;
}
.mh100 {
  max-height: 100%;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.df {
  display: flex;
}
.lhn {
  line-height: normal;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
.w {
  width: 100%;
}
.h {
  height: 100%;
}
.ha {
  height: auto;
}
.w50 {
  width: 50%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cp {
  cursor: pointer;
}
.cd {
  cursor: default;
}
.cpi {
  cursor: pointer !important;
}
.cdi {
  cursor: default !important;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.ps {
  position: sticky;
}
.bsbb {
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
  clear: both;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tj {
  text-align: justify;
}
.wsnw {
  white-space: nowrap;
}
.wsnm {
  white-space: normal;
}
.wspw {
  white-space: pre-wrap;
}
.wbba {
  word-break: break-all;
}
.fwn {
  font-weight: normal;
}
.fwb {
  font-weight: bold;
}
.oh {
  overflow: hidden;
}
.ma {
  margin: 0 auto;
}
.mt2 {
  margin-top: 0.00267rem;
}
.mt4 {
  margin-top: 0.00533rem;
}
.mt6 {
  margin-top: 0.008rem;
}
.mt8 {
  margin-top: 0.01067rem;
}
.mt10 {
  margin-top: 0.01333rem;
}
.mt12 {
  margin-top: 0.016rem;
}
.mt14 {
  margin-top: 0.01867rem;
}
.mt16 {
  margin-top: 0.02133rem;
}
.mt18 {
  margin-top: 0.024rem;
}
.mt20 {
  margin-top: 0.02667rem;
}
.mr2 {
  margin-right: 0.00267rem;
}
.mr4 {
  margin-right: 0.00533rem;
}
.mr6 {
  margin-right: 0.008rem;
}
.mr8 {
  margin-right: 0.01067rem;
}
.mr10 {
  margin-right: 0.01333rem;
}
.mr12 {
  margin-right: 0.016rem;
}
.mr14 {
  margin-right: 0.01867rem;
}
.mr16 {
  margin-right: 0.02133rem;
}
.mr18 {
  margin-right: 0.024rem;
}
.mr20 {
  margin-right: 0.02667rem;
}
.mb2 {
  margin-bottom: 0.00267rem;
}
.mb4 {
  margin-bottom: 0.00533rem;
}
.mb6 {
  margin-bottom: 0.008rem;
}
.mb8 {
  margin-bottom: 0.01067rem;
}
.mb10 {
  margin-bottom: 0.01333rem;
}
.mb12 {
  margin-bottom: 0.016rem;
}
.mb14 {
  margin-bottom: 0.01867rem;
}
.mb16 {
  margin-bottom: 0.02133rem;
}
.mb18 {
  margin-bottom: 0.024rem;
}
.mb20 {
  margin-bottom: 0.02667rem;
}
.ml2 {
  margin-left: 0.00267rem;
}
.ml4 {
  margin-left: 0.00533rem;
}
.ml6 {
  margin-left: 0.008rem;
}
.ml8 {
  margin-left: 0.01067rem;
}
.ml10 {
  margin-left: 0.01333rem;
}
.ml12 {
  margin-left: 0.016rem;
}
.ml14 {
  margin-left: 0.01867rem;
}
.ml16 {
  margin-left: 0.02133rem;
}
.ml18 {
  margin-left: 0.024rem;
}
.ml20 {
  margin-left: 0.02667rem;
}
.elli {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  height: calc(1em * 1.12 + 0.00107rem);
}
.elli2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
  height: calc(2em * 1.12 + 0.00107rem);
}
.elli3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  word-break: break-all;
  height: calc(3em * 1.12 + 0.00107rem);
}
.fs0 {
  font-size: 0;
}
.fs24 {
  font-size: 0.032rem;
}
.fs26 {
  font-size: 0.03467rem;
}
.fs28 {
  font-size: 0.03733rem;
}
.fs30 {
  font-size: 0.04rem;
}
.fs32 {
  font-size: 0.04267rem;
}
.fs34 {
  font-size: 0.04533rem;
}
.fs36 {
  font-size: 0.048rem;
}
.fs38 {
  font-size: 0.05067rem;
}
.fs40 {
  font-size: 0.05333rem;
}
.fs42 {
  font-size: 0.056rem;
}
.fs44 {
  font-size: 0.05867rem;
}
.fs46 {
  font-size: 0.06133rem;
}
.fs48 {
  font-size: 0.064rem;
}
.fs50 {
  font-size: 0.06667rem;
}
.tlf {
  table-layout: fixed;
}
.c_theme {
  color: #FF7904;
}
.icon {
  font-size: inherit;
}
body {
  font-size: 0.03733rem;
}
#nprogress .bar {
  color: #ffd066;
  background: currentColor;
  box-shadow: 0 0 1.33333vw currentColor, 0 0 0.66667vw currentColor;
}


.kvki5240 {
  background: #fff;
}
.kvl0avoo {
  width: 0.06667rem;
  height: 0.06667rem;
  border-radius: 100%;
}
.kvl0hpfv {
  width: 0.92rem;
  height: 0.50667rem;
  border-radius: 0.008rem;
}
.kvl1xrv7 {
  line-height: 1.6em;
}
.kvl120z0 {
  line-height: 3em;
  color: #646464;
  opacity: 0.7;
}
.kvl1c2t4 {
  padding: 0.02667rem 0.04rem 0;
}
.kvl1cref {
  color: #9a9a9a;
  height: 0.08533rem;
  line-height: 0.08533rem;
  padding: 0 0.04rem 0;
  border-top: 0.00133rem solid #f4f4f4;
}
.kvl1t4cc {
  margin-left: 0.09333rem;
}
.kvmfl6u4 {
  font-size: 0.04rem;
}

.kvl4qag2 {
  font-size: 0.05867rem;
  width: 0.10667rem;
  height: 0.10667rem;
  line-height: 0.10667rem;
  background: #FF7904;
  border-radius: 100%;
  align-self: center;
}


