.df {
  display: flex;
}
.dif {
  display: inline-flex;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.flg {
  flex-grow: 1;
}
.fls {
  flex-shrink: 0;
}
.fdc {
  flex-direction: column;
}
.mw100 {
  max-width: 100%;
}
.mh100 {
  max-height: 100%;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.df {
  display: flex;
}
.lhn {
  line-height: normal;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
.w {
  width: 100%;
}
.h {
  height: 100%;
}
.ha {
  height: auto;
}
.w50 {
  width: 50%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cp {
  cursor: pointer;
}
.cd {
  cursor: default;
}
.cpi {
  cursor: pointer !important;
}
.cdi {
  cursor: default !important;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.ps {
  position: sticky;
}
.bsbb {
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
  clear: both;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tj {
  text-align: justify;
}
.wsnw {
  white-space: nowrap;
}
.wsnm {
  white-space: normal;
}
.wspw {
  white-space: pre-wrap;
}
.wbba {
  word-break: break-all;
}
.fwn {
  font-weight: normal;
}
.fwb {
  font-weight: bold;
}
.oh {
  overflow: hidden;
}
.ma {
  margin: 0 auto;
}
.mt2 {
  margin-top: 2px;
}
.mt4 {
  margin-top: 4px;
}
.mt6 {
  margin-top: 6px;
}
.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}
.mt12 {
  margin-top: 12px;
}
.mt14 {
  margin-top: 14px;
}
.mt16 {
  margin-top: 16px;
}
.mt18 {
  margin-top: 18px;
}
.mt20 {
  margin-top: 20px;
}
.mr2 {
  margin-right: 2px;
}
.mr4 {
  margin-right: 4px;
}
.mr6 {
  margin-right: 6px;
}
.mr8 {
  margin-right: 8px;
}
.mr10 {
  margin-right: 10px;
}
.mr12 {
  margin-right: 12px;
}
.mr14 {
  margin-right: 14px;
}
.mr16 {
  margin-right: 16px;
}
.mr18 {
  margin-right: 18px;
}
.mr20 {
  margin-right: 20px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb4 {
  margin-bottom: 4px;
}
.mb6 {
  margin-bottom: 6px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb12 {
  margin-bottom: 12px;
}
.mb14 {
  margin-bottom: 14px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb18 {
  margin-bottom: 18px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml2 {
  margin-left: 2px;
}
.ml4 {
  margin-left: 4px;
}
.ml6 {
  margin-left: 6px;
}
.ml8 {
  margin-left: 8px;
}
.ml10 {
  margin-left: 10px;
}
.ml12 {
  margin-left: 12px;
}
.ml14 {
  margin-left: 14px;
}
.ml16 {
  margin-left: 16px;
}
.ml18 {
  margin-left: 18px;
}
.ml20 {
  margin-left: 20px;
}
.elli {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  height: calc(1em * 1.12 + 0.8px);
}
.elli2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
  height: calc(2em * 1.12 + 0.8px);
}
.elli3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  word-break: break-all;
  height: calc(3em * 1.12 + 0.8px);
}
.fs0 {
  font-size: 0;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs26 {
  font-size: 26px;
}
.fs28 {
  font-size: 28px;
}
.fs30 {
  font-size: 30px;
}
.fs32 {
  font-size: 32px;
}
.fs34 {
  font-size: 34px;
}
.fs36 {
  font-size: 36px;
}
.fs38 {
  font-size: 38px;
}
.fs40 {
  font-size: 40px;
}
.tlf {
  table-layout: fixed;
}
.c_theme {
  color: #FF7904;
}
.icon {
  font-size: inherit;
}
body {
  font-size: 28px;
}
#nprogress .bar {
  color: #ffd066;
  background: currentColor;
  box-shadow: 0 0 1.33333vw currentColor, 0 0 0.66667vw currentColor;
}


.kvki5240 {
  background: #fff;
}
.kvl0avoo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.kvl0hpfv {
  width: 690px;
  height: 380px;
  border-radius: 6px;
}
.kvl1xrv7 {
  line-height: 1.6em;
}
.kvl120z0 {
  line-height: 3em;
  color: #646464;
  opacity: 0.7;
}
.kvl1c2t4 {
  padding: 20px 30px 0;
}
.kvl1cref {
  color: #9a9a9a;
  height: 64px;
  line-height: 64px;
  padding: 0 30px 0;
  border-top: 1px solid #f4f4f4;
}
.kvl1t4cc {
  margin-left: 70px;
}
.kvl0dnb6 {
  min-width: 120px;
}

.kvl4qag2 {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #FF7904;
  border-radius: 100%;
  align-self: center;
  font-size: 44px;
}


