.df {
  display: flex;
}
.dif {
  display: inline-flex;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.flg {
  flex-grow: 1;
}
.fls {
  flex-shrink: 0;
}
.fdc {
  flex-direction: column;
}
.mw100 {
  max-width: 100%;
}
.mh100 {
  max-height: 100%;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.df {
  display: flex;
}
.dt {
  display: table;
}
.dtc {
  display: table-cell;
}
.dni {
  display: none !important;
}
.dbi {
  display: block !important;
}
.dibi {
  display: inline-block !important;
}
.dfi {
  display: flex !important;
}
.dti {
  display: table !important;
}
.dtci {
  display: table-cell !important;
}
.lhn {
  line-height: normal;
}
.lhni {
  line-height: normal !important;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.vti {
  vertical-align: top !important;
}
.vmi {
  vertical-align: middle !important;
}
.vbi {
  vertical-align: bottom !important;
}
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
.w {
  width: 100%;
}
.h {
  height: 100%;
}
.ha {
  height: auto;
}
.w50 {
  width: 50%;
}
.wi {
  width: 100% !important;
}
.hi {
  height: 100% !important;
}
.hai {
  height: auto !important;
}
.w50i {
  width: 50% !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fli {
  float: left !important;
}
.fri {
  float: right !important;
}
.cp {
  cursor: pointer;
}
.cd {
  cursor: default;
}
.cpi {
  cursor: pointer !important;
}
.cdi {
  cursor: default !important;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.ps {
  position: sticky;
}
.bsbb {
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
  clear: both;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tj {
  text-align: justify;
}
.wsnw {
  white-space: nowrap;
}
.wsnm {
  white-space: normal;
}
.wspw {
  white-space: pre-wrap;
}
.wbba {
  word-break: break-all;
}
.fwn {
  font-weight: normal;
}
.fwb {
  font-weight: bold;
}
.oh {
  overflow: hidden;
}
.ma {
  margin: 0 auto;
}
.mt2 {
  margin-top: 0.26667vw;
}
.mt4 {
  margin-top: 0.53333vw;
}
.mt6 {
  margin-top: 0.8vw;
}
.mt8 {
  margin-top: 1.06667vw;
}
.mt10 {
  margin-top: 1.33333vw;
}
.mt12 {
  margin-top: 1.6vw;
}
.mt14 {
  margin-top: 1.86667vw;
}
.mt16 {
  margin-top: 2.13333vw;
}
.mt18 {
  margin-top: 2.4vw;
}
.mt20 {
  margin-top: 2.66667vw;
}
.mt2i {
  margin-top: 0.26667vw !important;
}
.mt4i {
  margin-top: 0.53333vw !important;
}
.mt6i {
  margin-top: 0.8vw !important;
}
.mt8i {
  margin-top: 1.06667vw !important;
}
.mt10i {
  margin-top: 1.33333vw !important;
}
.mt12i {
  margin-top: 1.6vw !important;
}
.mt14i {
  margin-top: 1.86667vw !important;
}
.mt16i {
  margin-top: 2.13333vw !important;
}
.mt18i {
  margin-top: 2.4vw !important;
}
.mt20i {
  margin-top: 2.66667vw !important;
}
.mr2 {
  margin-right: 0.26667vw;
}
.mr4 {
  margin-right: 0.53333vw;
}
.mr6 {
  margin-right: 0.8vw;
}
.mr8 {
  margin-right: 1.06667vw;
}
.mr10 {
  margin-right: 1.33333vw;
}
.mr12 {
  margin-right: 1.6vw;
}
.mr14 {
  margin-right: 1.86667vw;
}
.mr16 {
  margin-right: 2.13333vw;
}
.mr18 {
  margin-right: 2.4vw;
}
.mr20 {
  margin-right: 2.66667vw;
}
.mr2i {
  margin-right: 0.26667vw !important;
}
.mr4i {
  margin-right: 0.53333vw !important;
}
.mr6i {
  margin-right: 0.8vw !important;
}
.mr8i {
  margin-right: 1.06667vw !important;
}
.mr10i {
  margin-right: 1.33333vw !important;
}
.mr12i {
  margin-right: 1.6vw !important;
}
.mr14i {
  margin-right: 1.86667vw !important;
}
.mr16i {
  margin-right: 2.13333vw !important;
}
.mr18i {
  margin-right: 2.4vw !important;
}
.mr20i {
  margin-right: 2.66667vw !important;
}
.mb2 {
  margin-bottom: 0.26667vw;
}
.mb4 {
  margin-bottom: 0.53333vw;
}
.mb6 {
  margin-bottom: 0.8vw;
}
.mb8 {
  margin-bottom: 1.06667vw;
}
.mb10 {
  margin-bottom: 1.33333vw;
}
.mb12 {
  margin-bottom: 1.6vw;
}
.mb14 {
  margin-bottom: 1.86667vw;
}
.mb16 {
  margin-bottom: 2.13333vw;
}
.mb18 {
  margin-bottom: 2.4vw;
}
.mb20 {
  margin-bottom: 2.66667vw;
}
.mb2i {
  margin-bottom: 0.26667vw !important;
}
.mb4i {
  margin-bottom: 0.53333vw !important;
}
.mb6i {
  margin-bottom: 0.8vw !important;
}
.mb8i {
  margin-bottom: 1.06667vw !important;
}
.mb10i {
  margin-bottom: 1.33333vw !important;
}
.mb12i {
  margin-bottom: 1.6vw !important;
}
.mb14i {
  margin-bottom: 1.86667vw !important;
}
.mb16i {
  margin-bottom: 2.13333vw !important;
}
.mb18i {
  margin-bottom: 2.4vw !important;
}
.mb20i {
  margin-bottom: 2.66667vw !important;
}
.ml2 {
  margin-left: 0.26667vw;
}
.ml4 {
  margin-left: 0.53333vw;
}
.ml6 {
  margin-left: 0.8vw;
}
.ml8 {
  margin-left: 1.06667vw;
}
.ml10 {
  margin-left: 1.33333vw;
}
.ml12 {
  margin-left: 1.6vw;
}
.ml14 {
  margin-left: 1.86667vw;
}
.ml16 {
  margin-left: 2.13333vw;
}
.ml18 {
  margin-left: 2.4vw;
}
.ml20 {
  margin-left: 2.66667vw;
}
.ml2i {
  margin-left: 0.26667vw !important;
}
.ml4i {
  margin-left: 0.53333vw !important;
}
.ml6i {
  margin-left: 0.8vw !important;
}
.ml8i {
  margin-left: 1.06667vw !important;
}
.ml10i {
  margin-left: 1.33333vw !important;
}
.ml12i {
  margin-left: 1.6vw !important;
}
.ml14i {
  margin-left: 1.86667vw !important;
}
.ml16i {
  margin-left: 2.13333vw !important;
}
.ml18i {
  margin-left: 2.4vw !important;
}
.ml20i {
  margin-left: 2.66667vw !important;
}
.elli {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  height: calc(1em * 1.12 + 0.8px);
}
.elli2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
  height: calc(2em * 1.12 + 0.8px);
}
.elli3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  word-break: break-all;
  height: calc(3em * 1.12 + 0.8px);
}
.fs0 {
  font-size: 0;
}
.fs14 {
  font-size: 1.86667vw;
}
.fs15 {
  font-size: 2vw;
}
.fs16 {
  font-size: 2.13333vw;
}
.fs17 {
  font-size: 2.26667vw;
}
.fs18 {
  font-size: 2.4vw;
}
.fs19 {
  font-size: 2.53333vw;
}
.fs20 {
  font-size: 2.66667vw;
}
.fs21 {
  font-size: 2.8vw;
}
.fs22 {
  font-size: 2.93333vw;
}
.fs23 {
  font-size: 3.06667vw;
}
.fs24 {
  font-size: 3.2vw;
}
.fs25 {
  font-size: 3.33333vw;
}
.fs26 {
  font-size: 3.46667vw;
}
.fs27 {
  font-size: 3.6vw;
}
.fs28 {
  font-size: 3.73333vw;
}
.fs29 {
  font-size: 3.86667vw;
}
.fs30 {
  font-size: 4vw;
}
.fs0i {
  font-size: 0 !important;
}
.fs12i {
  font-size: 1.6vw !important;
}
.fs13i {
  font-size: 1.73333vw !important;
}
.fs14i {
  font-size: 1.86667vw !important;
}
.fs15i {
  font-size: 2vw !important;
}
.fs16i {
  font-size: 2.13333vw !important;
}
.fs17i {
  font-size: 2.26667vw !important;
}
.fs18i {
  font-size: 2.4vw !important;
}
.fs19i {
  font-size: 2.53333vw !important;
}
.fs20i {
  font-size: 2.66667vw !important;
}
.fs21i {
  font-size: 2.8vw !important;
}
.fs22i {
  font-size: 2.93333vw !important;
}
.fs23i {
  font-size: 3.06667vw !important;
}
.fs24i {
  font-size: 3.2vw !important;
}
.fs25i {
  font-size: 3.33333vw !important;
}
.fs26i {
  font-size: 3.46667vw !important;
}
.fs27i {
  font-size: 3.6vw !important;
}
.fs28i {
  font-size: 3.73333vw !important;
}
.fs29i {
  font-size: 3.86667vw !important;
}
.fs30i {
  font-size: 4vw !important;
}
.tlf {
  table-layout: fixed;
}
.c_theme {
  color: #FF7904;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#nprogress .bar {
  background: #ffd066;
}


.kvki5240 {
  background: #fff;
}
.kvl0avoo {
  width: 6.66667vw;
  height: 6.66667vw;
  border-radius: 100%;
}
.kvl0dnb6 {
  width: 10.66667vw;
  height: 4.8vw;
  border-radius: 13.2vw;
}
.kvl0hpfv {
  width: 92vw;
  height: 50.66667vw;
  border-radius: 0.8vw;
}
.kvl1xrv7 {
  line-height: 1.6em;
}
.kvl120z0 {
  line-height: 3em;
  color: #646464;
  opacity: 0.7;
}
.kvl1c2t4 {
  padding: 2.66667vw 4vw 0;
}
.kvl1cref {
  color: #9a9a9a;
  height: 8.53333vw;
  line-height: 8.53333vw;
  padding: 0 4vw 0;
  border-top: 1px solid #f4f4f4;
}
.kvl1t4cc {
  color: #9c9c9c;
}
.kvl1t4cc + .kvl1t4cc {
  margin-left: 9.33333vw;
}


