.df {
  display: flex;
}
.dif {
  display: inline-flex;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.flg {
  flex-grow: 1;
}
.fls {
  flex-shrink: 0;
}
.fdc {
  flex-direction: column;
}
.mw100 {
  max-width: 100%;
}
.mh100 {
  max-height: 100%;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.df {
  display: flex;
}
.lhn {
  line-height: normal;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
.w {
  width: 100%;
}
.h {
  height: 100%;
}
.ha {
  height: auto;
}
.w50 {
  width: 50%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cp {
  cursor: pointer;
}
.cd {
  cursor: default;
}
.cpi {
  cursor: pointer !important;
}
.cdi {
  cursor: default !important;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.ps {
  position: sticky;
}
.bsbb {
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
  clear: both;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tj {
  text-align: justify;
}
.wsnw {
  white-space: nowrap;
}
.wsnm {
  white-space: normal;
}
.wspw {
  white-space: pre-wrap;
}
.wbba {
  word-break: break-all;
}
.fwn {
  font-weight: normal;
}
.fwb {
  font-weight: bold;
}
.oh {
  overflow: hidden;
}
.ma {
  margin: 0 auto;
}
.mt2 {
  margin-top: 0.02667rem;
}
.mt4 {
  margin-top: 0.05333rem;
}
.mt6 {
  margin-top: 0.08rem;
}
.mt8 {
  margin-top: 0.10667rem;
}
.mt10 {
  margin-top: 0.13333rem;
}
.mt12 {
  margin-top: 0.16rem;
}
.mt14 {
  margin-top: 0.18667rem;
}
.mt16 {
  margin-top: 0.21333rem;
}
.mt18 {
  margin-top: 0.24rem;
}
.mt20 {
  margin-top: 0.26667rem;
}
.mr2 {
  margin-right: 0.02667rem;
}
.mr4 {
  margin-right: 0.05333rem;
}
.mr6 {
  margin-right: 0.08rem;
}
.mr8 {
  margin-right: 0.10667rem;
}
.mr10 {
  margin-right: 0.13333rem;
}
.mr12 {
  margin-right: 0.16rem;
}
.mr14 {
  margin-right: 0.18667rem;
}
.mr16 {
  margin-right: 0.21333rem;
}
.mr18 {
  margin-right: 0.24rem;
}
.mr20 {
  margin-right: 0.26667rem;
}
.mb2 {
  margin-bottom: 0.02667rem;
}
.mb4 {
  margin-bottom: 0.05333rem;
}
.mb6 {
  margin-bottom: 0.08rem;
}
.mb8 {
  margin-bottom: 0.10667rem;
}
.mb10 {
  margin-bottom: 0.13333rem;
}
.mb12 {
  margin-bottom: 0.16rem;
}
.mb14 {
  margin-bottom: 0.18667rem;
}
.mb16 {
  margin-bottom: 0.21333rem;
}
.mb18 {
  margin-bottom: 0.24rem;
}
.mb20 {
  margin-bottom: 0.26667rem;
}
.ml2 {
  margin-left: 0.02667rem;
}
.ml4 {
  margin-left: 0.05333rem;
}
.ml6 {
  margin-left: 0.08rem;
}
.ml8 {
  margin-left: 0.10667rem;
}
.ml10 {
  margin-left: 0.13333rem;
}
.ml12 {
  margin-left: 0.16rem;
}
.ml14 {
  margin-left: 0.18667rem;
}
.ml16 {
  margin-left: 0.21333rem;
}
.ml18 {
  margin-left: 0.24rem;
}
.ml20 {
  margin-left: 0.26667rem;
}
.fs0 {
  font-size: 0;
}
.fs14 {
  font-size: 0.18667rem;
}
.fs16 {
  font-size: 0.21333rem;
}
.fs18 {
  font-size: 0.24rem;
}
.fs20 {
  font-size: 0.26667rem;
}
.fs22 {
  font-size: 0.29333rem;
}
.fs24 {
  font-size: 0.32rem;
}
.fs26 {
  font-size: 0.34667rem;
}
.fs28 {
  font-size: 0.37333rem;
}
.fs30 {
  font-size: 0.4rem;
}
.fs32 {
  font-size: 0.42667rem;
}
.fs34 {
  font-size: 0.45333rem;
}
.fs36 {
  font-size: 0.48rem;
}
.fs38 {
  font-size: 0.50667rem;
}
.fs40 {
  font-size: 0.53333rem;
}
.tlf {
  table-layout: fixed;
}
.c_theme {
  color: #FF7904;
}
.icon {
  font-size: inherit;
}
body {
  font-size: 0.4rem;
  max-width: min(100%, 10rem);
  color: #000;
}
a {
  color: #000;
}
#nprogress .bar {
  color: #ffd066;
  background: currentColor;
  box-shadow: 0 0 1.33333vw currentColor, 0 0 0.66667vw currentColor;
}
#nprogress .peg {
  display: none;
}
#webpack-dev-server-client-overlay {
  max-width: none;
}
.van-tabbar--fixed,
.van-sticky--fixed {
  z-index: 99;
}


.kvki5240 {
  background: #fff;
}
.kvl0avoo {
  width: 1.06667rem;
  height: 1.06667rem;
}
.kvl0hpfv {
  overflow: hidden;
  width: 9.2rem;
  height: 5.06667rem;
  border-radius: 0.08rem;
}
.kvl1xrv7 {
  line-height: 1.6em;
}
.kvl120z0 {
  line-height: 3em;
  color: #646464;
  opacity: 0.7;
}
.kvl1c2t4 {
  padding: 0.26667rem 0.4rem 0;
}
.kvl1cref {
  color: #9a9a9a;
  height: 0.85333rem;
  line-height: 0.85333rem;
  padding: 0 0.4rem 0;
  border-top: 0.01333rem solid #f4f4f4;
}
.kvl1t4cc {
  margin-left: 0.93333rem;
  color: #9c9c9c;
}
.kvl0dnb6 {
  min-width: 1.6rem;
  height: 0.58667rem;
}
.kvuqtyqk_id,
.kvuqw3j4_id {
  font-size: 0.42667rem;
}
.kvurdces_loading,
.kvurf9qz_error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.kw350amm_error {
  font-size: 2rem;
}
.kwa2mwpr_id.is_love {
  color: red;
}

.kwa79j7s_com .van-nav-bar__title {
  font-weight: bold;
  font-size: 0.48rem;
  color: #000;
  font-family: cursive;
}
.kwa79j7s_com .kwa74xo4_icon {
  font-size: 0.6rem;
  color: #000;
}

.kvl4qag2 {
  width: 1.06667rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  background: #FF7904;
  border-radius: 100%;
  align-self: center;
  font-size: 0.58667rem;
}
.kw3416h9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}


