.df {
  display: flex;
}
.dif {
  display: inline-flex;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.flg {
  flex-grow: 1;
}
.fls {
  flex-shrink: 0;
}
.fdc {
  flex-direction: column;
}
.mw100 {
  max-width: 100%;
}
.mh100 {
  max-height: 100%;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.df {
  display: flex;
}
.dt {
  display: table;
}
.dtc {
  display: table-cell;
}
.dni {
  display: none !important;
}
.dbi {
  display: block !important;
}
.dibi {
  display: inline-block !important;
}
.dfi {
  display: flex !important;
}
.dti {
  display: table !important;
}
.dtci {
  display: table-cell !important;
}
.lhn {
  line-height: normal;
}
.lhni {
  line-height: normal !important;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.vti {
  vertical-align: top !important;
}
.vmi {
  vertical-align: middle !important;
}
.vbi {
  vertical-align: bottom !important;
}
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
.w {
  width: 100%;
}
.h {
  height: 100%;
}
.ha {
  height: auto;
}
.w50 {
  width: 50%;
}
.wi {
  width: 100% !important;
}
.hi {
  height: 100% !important;
}
.hai {
  height: auto !important;
}
.w50i {
  width: 50% !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fli {
  float: left !important;
}
.fri {
  float: right !important;
}
.cp {
  cursor: pointer;
}
.cd {
  cursor: default;
}
.cpi {
  cursor: pointer !important;
}
.cdi {
  cursor: default !important;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.ps {
  position: sticky;
}
.bsbb {
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
  clear: both;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tj {
  text-align: justify;
}
.wsnw {
  white-space: nowrap;
}
.wsnm {
  white-space: normal;
}
.wspw {
  white-space: pre-wrap;
}
.wbba {
  word-break: break-all;
}
.fwn {
  font-weight: normal;
}
.fwb {
  font-weight: bold;
}
.oh {
  overflow: hidden;
}
.ma {
  margin: 0 auto;
}
.mt2 {
  margin-top: 0.26667vh;
}
.mt4 {
  margin-top: 0.53333vh;
}
.mt6 {
  margin-top: 0.8vh;
}
.mt8 {
  margin-top: 1.06667vh;
}
.mt10 {
  margin-top: 1.33333vh;
}
.mt12 {
  margin-top: 1.6vh;
}
.mt14 {
  margin-top: 1.86667vh;
}
.mt16 {
  margin-top: 2.13333vh;
}
.mt18 {
  margin-top: 2.4vh;
}
.mt20 {
  margin-top: 2.66667vh;
}
.mt2i {
  margin-top: 0.26667vh !important;
}
.mt4i {
  margin-top: 0.53333vh !important;
}
.mt6i {
  margin-top: 0.8vh !important;
}
.mt8i {
  margin-top: 1.06667vh !important;
}
.mt10i {
  margin-top: 1.33333vh !important;
}
.mt12i {
  margin-top: 1.6vh !important;
}
.mt14i {
  margin-top: 1.86667vh !important;
}
.mt16i {
  margin-top: 2.13333vh !important;
}
.mt18i {
  margin-top: 2.4vh !important;
}
.mt20i {
  margin-top: 2.66667vh !important;
}
.mr2 {
  margin-right: 0.26667vh;
}
.mr4 {
  margin-right: 0.53333vh;
}
.mr6 {
  margin-right: 0.8vh;
}
.mr8 {
  margin-right: 1.06667vh;
}
.mr10 {
  margin-right: 1.33333vh;
}
.mr12 {
  margin-right: 1.6vh;
}
.mr14 {
  margin-right: 1.86667vh;
}
.mr16 {
  margin-right: 2.13333vh;
}
.mr18 {
  margin-right: 2.4vh;
}
.mr20 {
  margin-right: 2.66667vh;
}
.mr2i {
  margin-right: 0.26667vh !important;
}
.mr4i {
  margin-right: 0.53333vh !important;
}
.mr6i {
  margin-right: 0.8vh !important;
}
.mr8i {
  margin-right: 1.06667vh !important;
}
.mr10i {
  margin-right: 1.33333vh !important;
}
.mr12i {
  margin-right: 1.6vh !important;
}
.mr14i {
  margin-right: 1.86667vh !important;
}
.mr16i {
  margin-right: 2.13333vh !important;
}
.mr18i {
  margin-right: 2.4vh !important;
}
.mr20i {
  margin-right: 2.66667vh !important;
}
.mb2 {
  margin-bottom: 0.26667vh;
}
.mb4 {
  margin-bottom: 0.53333vh;
}
.mb6 {
  margin-bottom: 0.8vh;
}
.mb8 {
  margin-bottom: 1.06667vh;
}
.mb10 {
  margin-bottom: 1.33333vh;
}
.mb12 {
  margin-bottom: 1.6vh;
}
.mb14 {
  margin-bottom: 1.86667vh;
}
.mb16 {
  margin-bottom: 2.13333vh;
}
.mb18 {
  margin-bottom: 2.4vh;
}
.mb20 {
  margin-bottom: 2.66667vh;
}
.mb2i {
  margin-bottom: 0.26667vh !important;
}
.mb4i {
  margin-bottom: 0.53333vh !important;
}
.mb6i {
  margin-bottom: 0.8vh !important;
}
.mb8i {
  margin-bottom: 1.06667vh !important;
}
.mb10i {
  margin-bottom: 1.33333vh !important;
}
.mb12i {
  margin-bottom: 1.6vh !important;
}
.mb14i {
  margin-bottom: 1.86667vh !important;
}
.mb16i {
  margin-bottom: 2.13333vh !important;
}
.mb18i {
  margin-bottom: 2.4vh !important;
}
.mb20i {
  margin-bottom: 2.66667vh !important;
}
.ml2 {
  margin-left: 0.26667vh;
}
.ml4 {
  margin-left: 0.53333vh;
}
.ml6 {
  margin-left: 0.8vh;
}
.ml8 {
  margin-left: 1.06667vh;
}
.ml10 {
  margin-left: 1.33333vh;
}
.ml12 {
  margin-left: 1.6vh;
}
.ml14 {
  margin-left: 1.86667vh;
}
.ml16 {
  margin-left: 2.13333vh;
}
.ml18 {
  margin-left: 2.4vh;
}
.ml20 {
  margin-left: 2.66667vh;
}
.ml2i {
  margin-left: 0.26667vh !important;
}
.ml4i {
  margin-left: 0.53333vh !important;
}
.ml6i {
  margin-left: 0.8vh !important;
}
.ml8i {
  margin-left: 1.06667vh !important;
}
.ml10i {
  margin-left: 1.33333vh !important;
}
.ml12i {
  margin-left: 1.6vh !important;
}
.ml14i {
  margin-left: 1.86667vh !important;
}
.ml16i {
  margin-left: 2.13333vh !important;
}
.ml18i {
  margin-left: 2.4vh !important;
}
.ml20i {
  margin-left: 2.66667vh !important;
}
.elli {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  height: calc(1em * 1.12 + 0.8px);
}
.elli2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
  height: calc(2em * 1.12 + 0.8px);
}
.elli3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  word-break: break-all;
  height: calc(3em * 1.12 + 0.8px);
}
.fs0 {
  font-size: 0;
}
.fs24 {
  font-size: 3.2vw;
}
.fs25 {
  font-size: 3.33333vw;
}
.fs26 {
  font-size: 3.46667vw;
}
.fs27 {
  font-size: 3.6vw;
}
.fs28 {
  font-size: 3.73333vw;
}
.fs29 {
  font-size: 3.86667vw;
}
.fs30 {
  font-size: 4vw;
}
.fs24i {
  font-size: 3.2vw !important;
}
.fs25i {
  font-size: 3.33333vw !important;
}
.fs26i {
  font-size: 3.46667vw !important;
}
.fs27i {
  font-size: 3.6vw !important;
}
.fs28i {
  font-size: 3.73333vw !important;
}
.fs29i {
  font-size: 3.86667vw !important;
}
.fs30i {
  font-size: 4vw !important;
}
.tlf {
  table-layout: fixed;
}
.c_theme {
  color: #FF7904;
}
.icon {
  font-size: inherit;
}
#nprogress .bar {
  color: #ffd066;
  background: currentColor;
  box-shadow: 0 0 1.33333vw currentColor, 0 0 0.66667vw currentColor;
}
* {
  max-width: 100vmin;
}


.kvki5240 {
  background: #fff;
}
.kvl0avoo {
  width: 6.66667vh;
  height: 6.66667vh;
  border-radius: 100%;
}
.kvl0dnb6 {
  width: 10.66667vh;
  height: 4.8vh;
  border-radius: 13.2vh;
}
.kvl0hpfv {
  width: 92vh;
  height: 50.66667vh;
  border-radius: 0.8vh;
}
.kvl1xrv7 {
  line-height: 1.6em;
}
.kvl120z0 {
  line-height: 3em;
  color: #646464;
  opacity: 0.7;
}
.kvl1c2t4 {
  padding: 2.66667vh 4vh 0;
}
.kvl1cref {
  color: #9a9a9a;
  height: 8.53333vh;
  line-height: 8.53333vh;
  padding: 0 4vh 0;
  border-top: 1px solid #f4f4f4;
}
.kvl1t4cc {
  margin-left: 9.33333vh;
}

.kvl4qag2 {
  width: 10.66667vh;
  height: 10.66667vh;
  line-height: 10.66667vh;
  background: #FF7904;
  border-radius: 100%;
  align-self: center;
}


