<span asd=123 id="ktjrkds0">
	我是index.html
	<a id="krk9cdu0" href="https://www.wuxuwang.com/a/b/c?asd=123&qwe=哈哈哈&zxc=1232#ppp">
		我是index.html
	</a>
	<img id="krk9e2qx" data-zxc="https://www.wuxuwang.com/a/b/c?asd=123&qwe=哈哈哈&zxc=1232#ppp" cid="zz">
</span>

<div id="kuy6kzby">
	<a id="kv201rze" href="https://www.wuxuwang.com?qs=测试URL编码&a=123&b=zxc&c=@$^_&d=%%#mmm" target="_blank"
		class="dataclass">
		测试PHP 的 URL编码

		国际化：【{$Think.lang.kv91zomi}】
	</a>
	<div>
		<a id="kuz84lp2" href="https://github.com/huanshiwushuang/wx-tpl" target="_blank">
			测试PHP rel
		</a>
	</div>
	<div></div>
</div>