{include file="components/jzm-header-bar"}
{include file="index/components/jzm-index-nav-bar"}

<div>
	<ul>
		{volist name="list" id="vo"}
		<li class="kvjp1c6c" data-love="{$vo.love}">
			<img cid="head" src="/asd">
			<div cid="name">{$vo.name}</div>
			<div cid="guanzhu">关注</div>
			<img cid="pic" src="{$vo.pic}" alt="">
			<div cid="content">
				{$vo.juzi.content}
			</div>
			<div cid="author">
				{$vo.juzi.author}
			</div>
		</li>
		{/volist}
	</ul>
</div>

{include file="components/jzm-tab-bar"}