<!-- 严格禁止其他后端在此文件写任何变量，以防止其他页面 extend 此页面，出现 未定义变量的问题，扩展都用 block 完成 -->
<!DOCTYPE html>
<html lang='{$LANG}'>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="referrer" content="always" />
	<!-- 索引，跟随，存档 -->
	<meta name="robots" content="index,follow,archive">
	<meta name="renderer" content="webkit" />
	<meta name="force-rendering" content="webkit" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1">
	<meta id="K" name="keywords" content="{$K}" />
	<meta id="D" name="description" content="{$D}" />
	<title id="T">{$T}</title>

	<!-- 旧版 IE 升级提示跳转代码 -->
	<!-- https://support.dmeng.net/ie-update-warning.html -->
	<script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) window.location.href = "https://support.dmeng.net/upgrade-your-browser.html?referrer=" + encodeURIComponent(window.location.href);</script>

	<style>
		.dn {
			display: none;
		}
	</style>

	<link rel="preload" href="//at.alicdn.com/t/font_2914317_t8x9fyia65.woff2" as="font" type="font/woff2" crossorigin="anonymous">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_2914317_t8x9fyia65.css">

	<!-- 导入 link 模板 -->
	{if ENV == 'development'}
		{include file="main/include_head_development"}
	{else/}
		{include file="main/include_head_production"}
	{/if}

</head>

<body id="body">
	<!-- 后端渲染 html 模板 -->
	<div class="data dn">
		{$html_data|raw}
	</div>
	
	<!-- 后端直接输出 json 数据 -->
	<script type="text/json">
		{$json_data}
	</script>

	<!-- 前端渲染视图 -->
	<div id="app">
		<div class="kv91oyk0 dn">
			网页运行出了一点点问题，推荐您尝试切换其他浏览器。<br>
			如果多种浏览器都无法显示，请联系客服: gh9694@foxmail.com
		</div>
	</div>
	<script>
		// 如果报错导致 DOM 未正确渲染，则给出友好提示
		setTimeout(function() {
			var tips = document.querySelector('.kv91oyk0');
			if (tips) {
				tips.classList.remove('dn');
			}
		}, 2000)
	</script>

	<!-- 导入 script 模板 -->
	{if ENV == 'development'}
		{include file="main/include_body_development"}
	{else/}
		{include file="main/include_body_production"}
	{/if}
</body>

</html>