<!-- css -->

	<link rel="stylesheet" href="/static/defaultApp/development/ktchtbpr/css/chunk-vendors.2a4802ba.css" />


<!-- preload -->
<!-- 默认多个模板，相当于多个入口，vue-cli 就会生成多个 入口.js  -->
<!-- 此处 proload include_body 模板中的 js -->

	<link rel="preload" href="/static/defaultApp/development/ktchtbpr/js/ktchtexj.chunk-vendors.js" as="script" />

	<link rel="preload" href="/static/defaultApp/development/ktchtbpr/js/ktchtexj.chunk-common.js" as="script" />

	<link rel="preload" href="/static/defaultApp/development/ktchtbpr/js/ktchtexj.include_body.js" as="script" />

