<!-- css -->

	<link rel="stylesheet" href="/static/defaultApp/development/css/chunk-vendors.5540365a.css" />

	<link rel="stylesheet" href="/static/defaultApp/development/css/chunk-common.796ded81.css" />


<!-- preload -->
<!-- 默认多个模板，相当于多个入口，vue-cli 就会生成多个 入口.js  -->
<!-- 此处 proload include_body 模板中的 js -->

	<link rel="preload" href="/static/defaultApp/development/js/chunk-vendors.js" as="script" />

	<link rel="preload" href="/static/defaultApp/development/js/chunk-common.js" as="script" />

	<link rel="preload" href="/static/defaultApp/development/js/include_body.js" as="script" />

