.c_theme {
    color: @c_theme;
}

.icon {
    font-size: inherit;
}

// 设置所有元素最大宽度不超过设计图的宽度 或者 父元素的宽度
body {
    * {
        max-width: ~'min(750px, 100%)';
    }
    background: #ccc;
}

#app {
    .ma;
    .fs30;
}

// 进度条颜色
#nprogress {
    .bar {
        color     : #ffd066;
        background: currentColor;
        box-shadow: 0 0 1.33333vw currentColor, 0 0 0.66667vw currentColor;
    }
}