.c_theme {
    color: @c_theme;
}

.icon {
    font-size: inherit;
}

body {
    .fs30;
    max-width: ~'min(100%, 750px)';
    color: #000;
    letter-spacing: 0.1em;
}

a {
    color: #000;
}

// 进度条颜色
#nprogress {
    .bar {
        color     : #ffd066;
        background: currentColor;
        box-shadow: 0 0 1.33333vw currentColor, 0 0 0.66667vw currentColor;
    }

    .peg {
        .dn;
    }
}