@import "./normalize.less";
@import "./reset.less";

// 子项目变量
// @c_theme: #26a9a2;

// class
.mw100 {
	max-width: 100%;
}

.mh100 {
	max-height: 100%;
}

.dn {
	display: none;
}

.db {
	display: block;
}

.dib {
	display: inline-block;
}

.df {
	display: flex;
}

.dt {
	display: table;
}

.dtc {
	display: table-cell;
}

.dni {
	display: none !important;
}

.dbi {
	display: block !important;
}

.dibi {
	display: inline-block !important;
}

.dfi {
	display: flex !important;
}

.dti {
	display: table !important;
}

.dtci {
	display: table-cell !important;
}

.lhn {
	line-height: normal;
}

.lhni {
	line-height: normal !important;
}

.vt {
	vertical-align: top;
}

.vm {
	vertical-align: middle;
}

.vb {
	vertical-align: bottom;
}

.vti {
	vertical-align: top !important;
}

.vmi {
	vertical-align: middle !important;
}

.vbi {
	vertical-align: bottom !important;
}

.vh {
	visibility: hidden;
}

.vv {
	visibility: visible;
}

.w {
	width: 100%;
}

.h {
	height: 100%;
}

.ha {
	height: auto;
}

.w50 {
	width: 50%;
}

.wi {
	width: 100% !important;
}

.hi {
	height: 100% !important;
}

.hai {
	height: auto !important;
}

.w50i {
	width: 50% !important;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.fli {
	float: left !important;
}

.fri {
	float: right !important;
}

.cp {
	cursor: pointer;
}

.cd {
	cursor: default;
}

.cpi {
	cursor: pointer !important;
}

.cdi {
	cursor: default !important;
}

.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.pf {
	position: fixed;
}

.ps {
	position: sticky;
}

.pri {
	position: relative !important;
}

.pai {
	position: absolute !important;
}

.pfi {
	position: fixed !important;
}

.psi {
	position: sticky !important;
}

.bsbb {
	box-sizing: border-box;
}

.bsbbi {
	box-sizing: border-box !important;
}

.cf {

	&:before,
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.tl {
	text-align: left;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.tj {
	text-align: justify;
}

.tli {
	text-align: left !important;
}

.tci {
	text-align: center !important;
}

.tji {
	text-align: justify!important;
}

.tri {
	text-align: right !important;
}

.wsnw {
	white-space: nowrap;
}

.wsnm {
	white-space: normal;
}

.wspw {
	white-space: pre-wrap;
}

.wbba {
	word-break: break-all;
}

.wsnwi {
	white-space: nowrap !important;
}

.wsnmi {
	white-space: normal !important;
}

.fwn {
	font-weight: normal;
}

.fwb {
	font-weight: bold;
}

.fwni {
	font-weight: normal !important;
}

.fwbi {
	font-weight: bold !important;
}

.oh {
	overflow: hidden;
}

.ohi {
	overflow: hidden !important;
}

.ma {
	margin: 0 auto;
}

.mt2 {
	margin-top: 2px;
}

.mt4 {
	margin-top: 4px;
}

.mt6 {
	margin-top: 6px;
}

.mt8 {
	margin-top: 8px;
}

.mt10 {
	margin-top: 10px;
}

.mt12 {
	margin-top: 12px;
}

.mt14 {
	margin-top: 14px;
}

.mt16 {
	margin-top: 16px;
}

.mt18 {
	margin-top: 18px;
}

.mt20 {
	margin-top: 20px;
}

.mt2i {
	margin-top: 2px !important;
}

.mt4i {
	margin-top: 4px !important;
}

.mt6i {
	margin-top: 6px !important;
}

.mt8i {
	margin-top: 8px !important;
}

.mt10i {
	margin-top: 10px !important;
}

.mt12i {
	margin-top: 12px !important;
}

.mt14i {
	margin-top: 14px !important;
}

.mt16i {
	margin-top: 16px !important;
}

.mt18i {
	margin-top: 18px !important;
}

.mt20i {
	margin-top: 20px !important;
}

.mr2 {
	margin-right: 2px;
}

.mr4 {
	margin-right: 4px;
}

.mr6 {
	margin-right: 6px;
}

.mr8 {
	margin-right: 8px;
}

.mr10 {
	margin-right: 10px;
}

.mr12 {
	margin-right: 12px;
}

.mr14 {
	margin-right: 14px;
}

.mr16 {
	margin-right: 16px;
}

.mr18 {
	margin-right: 18px;
}

.mr20 {
	margin-right: 20px;
}

.mr2i {
	margin-right: 2px !important;
}

.mr4i {
	margin-right: 4px !important;
}

.mr6i {
	margin-right: 6px !important;
}

.mr8i {
	margin-right: 8px !important;
}

.mr10i {
	margin-right: 10px !important;
}

.mr12i {
	margin-right: 12px !important;
}

.mr14i {
	margin-right: 14px !important;
}

.mr16i {
	margin-right: 16px !important;
}

.mr18i {
	margin-right: 18px !important;
}

.mr20i {
	margin-right: 20px !important;
}

.mb2 {
	margin-bottom: 2px;
}

.mb4 {
	margin-bottom: 4px;
}

.mb6 {
	margin-bottom: 6px;
}

.mb8 {
	margin-bottom: 8px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb12 {
	margin-bottom: 12px;
}

.mb14 {
	margin-bottom: 14px;
}

.mb16 {
	margin-bottom: 16px;
}

.mb18 {
	margin-bottom: 18px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb2i {
	margin-bottom: 2px !important;
}

.mb4i {
	margin-bottom: 4px !important;
}

.mb6i {
	margin-bottom: 6px !important;
}

.mb8i {
	margin-bottom: 8px !important;
}

.mb10i {
	margin-bottom: 10px !important;
}

.mb12i {
	margin-bottom: 12px !important;
}

.mb14i {
	margin-bottom: 14px !important;
}

.mb16i {
	margin-bottom: 16px !important;
}

.mb18i {
	margin-bottom: 18px !important;
}

.mb20i {
	margin-bottom: 20px !important;
}

.ml2 {
	margin-left: 2px;
}

.ml4 {
	margin-left: 4px;
}

.ml6 {
	margin-left: 6px;
}

.ml8 {
	margin-left: 8px;
}

.ml10 {
	margin-left: 10px;
}

.ml12 {
	margin-left: 12px;
}

.ml14 {
	margin-left: 14px;
}

.ml16 {
	margin-left: 16px;
}

.ml18 {
	margin-left: 18px;
}

.ml20 {
	margin-left: 20px;
}

.ml2i {
	margin-left: 2px !important;
}

.ml4i {
	margin-left: 4px !important;
}

.ml6i {
	margin-left: 6px !important;
}

.ml8i {
	margin-left: 8px !important;
}

.ml10i {
	margin-left: 10px !important;
}

.ml12i {
	margin-left: 12px !important;
}

.ml14i {
	margin-left: 14px !important;
}

.ml16i {
	margin-left: 16px !important;
}

.ml18i {
	margin-left: 18px !important;
}

.ml20i {
	margin-left: 20px !important;
}

// 超出省略
.elli {
	.db;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
	height: calc(~'1em * 1.12 + 0.8px');

	&2 {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		word-break: break-all;
		height: calc(~'2em * 1.12 + 0.8px');
	}

	&3 {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		word-break: break-all;
		height: calc(~'3em * 1.12 + 0.8px');
	}
}

.ellis(@line: 4) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: @line;
	overflow: hidden;
	word-break: break-all;
	height: calc(~'@{line}em * 1.12 + 0.8px');
}

.fs0 {
	font-size: 0;
}

.fs12 {
	font-size: 12px;
}

.fs13 {
	font-size: 13px;
}

.fs14 {
	font-size: 14px;
}

.fs15 {
	font-size: 15px;
}

.fs16 {
	font-size: 16px;
}

.fs17 {
	font-size: 17px;
}

.fs18 {
	font-size: 18px;
}

.fs19 {
	font-size: 19px;
}

.fs20 {
	font-size: 20px;
}

.fs21 {
	font-size: 21px;
}

.fs22 {
	font-size: 22px;
}

.fs23 {
	font-size: 23px;
}

.fs24 {
	font-size: 24px;
}

.fs25 {
	font-size: 25px;
}

.fs26 {
	font-size: 26px;
}

.fs27 {
	font-size: 27px;
}

.fs28 {
	font-size: 28px;
}

.fs29 {
	font-size: 29px;
}

.fs30 {
	font-size: 30px;
}

.fs0i {
	font-size: 0 !important;
}

.fs12i {
	font-size: 12px !important;
}

.fs13i {
	font-size: 13px !important;
}

.fs14i {
	font-size: 14px !important;
}

.fs15i {
	font-size: 15px !important;
}

.fs16i {
	font-size: 16px !important;
}

.fs17i {
	font-size: 17px !important;
}

.fs18i {
	font-size: 18px !important;
}

.fs19i {
	font-size: 19px !important;
}

.fs20i {
	font-size: 20px !important;
}

.fs21i {
	font-size: 21px !important;
}

.fs22i {
	font-size: 22px !important;
}

.fs23i {
	font-size: 23px !important;
}

.fs24i {
	font-size: 24px !important;
}

.fs25i {
	font-size: 25px !important;
}

.fs26i {
	font-size: 26px !important;
}

.fs27i {
	font-size: 27px !important;
}

.fs28i {
	font-size: 28px !important;
}

.fs29i {
	font-size: 29px !important;
}

.fs30i {
	font-size: 30px !important;
}

.c9 {
	color: #999
}

.c6 {
	color: #666
}

.c3 {
	color: #333
}

.ph {
	&:after {
		.dib;
		content: '';
	}
}

.tlf {
	table-layout: fixed;
}

// project common
// *:not([class*="el-"]):not([class*="fs"]):not([class*="Vue-Toastification"]) {
// 	// :not([class|="el"]:before)
// 	.fs0;
// }
// .el-message__icon {
// 	.fs16;
// }

// #body [class*="el-"]:not(body) {
// 	*:not([class*="el-"]) {
// 		font-size: inherit;
// 	}
// }
.el-badge__content {
	background-color: #fd393e;
}


a {
	color: @c_default;

	&:hover {
		color: @c_theme;
	}
}

// elementui 表头对不齐的 bug
.el-table th {
	display: table-cell !important;
}

// Mac 下表现不一致
// 原为：font-weight: 500;
.el-collapse-item__header {
	font-weight: normal;
}

.viewer-move {
	background: #fff;
}



// project class
.c_theme {
	color: @c_theme
}

.c_white {
	color: #fff;
}

.c_orange {
	color: #ff9139;
}

.container {
	.ma;
	width: @app_min_width;
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

// app
#app {
	color: @c_default;
	min-width: @app_min_width;
	font-family: "Microsoft Yahei", "PingFang SC", "Verdana", "Helvetica Neue",
		"Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei",
		"sans-serif";

	// reset elementui
	// 输入框默认清空按钮图标
	.el-icon-circle-close {
		.c9;

		&:before {
			content: "\e6db";
		}
	}

	::-webkit-input-placeholder {
		/* WebKit browsers */
		color: #999;
	}

	::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		color: #999;
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10+ */
		color: #999;
	}
}

// 进度条
/*进度条*/
// #nprogress .bar {
// 	height: 3px;
// 	background: #860ac5;
// 	z-index: 1000;
// }

// 后端的 svg 图片
svg.svgfont {
	margin-top: -6px
}


// 移动端
@media screen and (max-width: 750px) {
	html * {
		max-width: 100%;
	}
	#app {
		min-width: 100vw;
	}
	.container {
		width: 100vw;
	}
	// reset elementui
	.el-popper {
		max-width: 100vw;
		overflow: auto;
	}
	.el-message {
		max-width: 100vw;
		min-width: 50vw;
	}
	// 侧滑抽屉
	.kq8xdrp8_drawer {
		.pf;
		top: 0;
		left: 0;
		width: 80vw;
		background: #fff;
		background-clip: padding-box;
		border-left: 20vw solid rgba(0,0,0, .5);
	}
}
