<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    

    <!-- 旧版 IE 升级提示跳转代码 -->
    <!-- https://support.dmeng.net/ie-update-warning.html -->
    <!-- <script class="node_remove">
		/*@cc_on window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/
	</script> -->

    

    <!-- 头部插入 -->
    {block name="inject_start"}{/block}
  </head>

  <body id="body">
    <!-- 后端渲染数据 -->
    <div class="data dn">{block name="data"} {/block}</div>

    <!-- 前端渲染视图 -->
    <div id="app"></div>

    <!-- 尾部插入 -->
    {block name="inject_end"}{/block}
  </body>
</html>
