<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="referrer" content="always" />
	<!-- 索引，跟随，不存档 -->
	<meta name="robots" content="index,follow,noarchive">
	<meta name="renderer" content="webkit" />
	<meta name="force-rendering" content="webkit" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1">
	<!-- 确保：ios 或者 mac 不会自动添加脏数据 -->
	<meta name="format-detection" content="telephone=no, email=no, address=no" />

	<!-- 旧版 IE 升级提示跳转代码 -->
	<!-- https://support.dmeng.net/ie-update-warning.html -->
	<script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) window.location.href = "https://support.dmeng.net/upgrade-your-browser.html?referrer=" + encodeURIComponent(window.location.href); </script>

	<style>
		.dn {display: none;}
	</style>

	{block name="block_head"}{/block}
</head>

<!-- data-krjz5tk6 是为了 php 过滤的时候，只过滤最后的 fetch 的页面 -->
<body id="body" data-krjz5tk6>
	<!-- 后端渲染数据 -->
	<div class="data dn">{block name="data"} {/block}</div>

	<!-- 前端渲染视图 -->
	<div id="app"></div>

	<!-- 用于 html-webpack-plugin 注入js -->
	{block name="block_body"}{/block}
</body>

</html>