<!-- 此文件禁止手动修改，需由前端生成，后端只能 extend 此页面 -->
<!DOCTYPE html>
<html lang="zh-cn">

<head>
	
<link href="/static/assets/js/app.js" rel="preload" as="script"><link href="/static/assets/js/chunk-vendors.js" rel="preload" as="script"></head>

<body>
	

	<noscript>
		<strong>请启用浏览器的 Javascript</strong>
	</noscript>
	<div id="app"></div>
	<!-- built files will be auto injected -->
<script type="text/javascript" src="/static/assets/js/chunk-vendors.js"></script><script type="text/javascript" src="/static/assets/js/app.js"></script></body>

</html>