{extend name="main/base"}

{block name="block_head"}
	<!-- tkd -->
	{include file="main/tkd"}
	
	<!-- css -->
	{if $Think.ENV == 'development'}
		{include file="main/include_head_development"}
	{else/}
		{include file="main/include_head_production"}
	{/if}

{/block}


{block name="data"}
<!-- 根据路由不同，后端返回不同的数据[html] -->
{$data|raw}

<!-- 所有页面公用的数据 -->
<template class="data dn">
	<div id="krjzmlbj_config" data-mime="json5">
		{
			test: '我是所有页面公用的数据'
		}
	</div>
</template>
{/block}


{block name="block_body"}
	<!-- js -->
	{if $Think.ENV == 'development'}
		{include file="main/include_body_development"}
	{else/}
		{include file="main/include_body_production"}
	{/if}
{/block}