<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="referrer" content="always" />
<meta name="robots" content="index,follow,noarchive" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1" />
<!-- 确保：ios 或者 mac 不会自动添加东西 -->
<meta name="format-detection" content="telephone=no, email=no, address=no" />